<nav>
  <div class="navbar-left">
    <a href="">
      <img
        class="web-logo"
        src="https://dumbways.id/assets/images/brandv2.png"
        alt="web-logo"
      />
    </a>
    <ul class="navbar-links">
      <li><a href="/index" class="link-active">Home</a></li>
      <li><a href="/myproject" class="link">My Project</a></li>
    </ul>
  </div>
  <div class="navbar-right">
    <a href="/contactme" class="contact-link">Contact me</a>
  </div>
</nav>