{{#> layout title="Home"}}

<div class="web">
  <div class="container">
    <div class="box1">
      <img src="./assets/DSCF0096_KALIKI STUDIO edit.jpg" alt="profile-photo">
      <div class="infoprofile">
        <p>
          <b>Yaumil Aksah</b>
          <br />
          Fullstack Web Developer
        </p>
      </div>
    </div>
    <div class="box2">
      <h1>Hi welcome to my hut</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
        nisi porro labore natus id cupiditate expedita laudantium officiis
        est necessitatibus vel nihil, in facere? Cum esse tempora libero
        itaque optio laborum sapiente dicta aliquam voluptate soluta
        accusamus porro ex sunt, debitis, eius dolor. Blanditiis unde
        numquam iste alias impedit natus ex fuga consequuntur mollitia
        maxime quo, optio id officia porro aperiam culpa perspiciatis sunt
        quidem fugit tempora sed fugiat neque odit? Hic soluta nulla
        voluptatibus accusantium repudiandae totam, vero rem eveniet
        perspiciatis aspernatur deserunt possimus accusamus! Quam deserunt
        voluptates eius, natus sit maxime tenetur, fuga nulla facilis
        impedit repudiandae quae fugit consequatur, voluptatem architecto
        cum ratione libero atque esse nesciunt? Excepturi nobis cumque,
        perferendis, dignissimos veritatis illum consectetur voluptates iure
        natus temporibus corporis mollitia in, id accusantium fugit dolorum
        exercitationem.
      </p>
    </div>
    <div class="box3">
      <div class="containerdownload">
        <button class="buttoncontact">Contact</button>
        <a href="">Download</a>
        <div class="downloadicon"></div>
      </div>
    </div>
    <div class="box4">
      <div class="logo">
        <a class="logo1" href="https://www.linkedin.com/in/muh-yaumil-aksah-hamid-95933a28a/"></a>
        <a class="logo2" href="https://www.instagram.com/yaumil_aksah30/"></a>
        <a class="logo3" href="https://github.com/AxVsel"></a>
        <!-- <button class="logo1"></button>
            <button class="logo2"></button>
            <button class="logo3"></button> -->
      </div>
    </div>
  </div>
</div>
<div class="smartphone"></div>
{{/layout}}
<!-- Include Handlebars from a CDN -->
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script>
  // compile the template var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>");
  // execute the compiled template and print the output to the console
  console.log(template({ doesWhat: "good night!" }));
</script>